{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Electricity Bill/Insert</title>        
        <link href="{% static 'https://fonts.gstatic.com' %}" rel="preconnect">
        <link href="{% static 'https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap' %}" rel="stylesheet">
        <link href="{% static 'https://fonts.googleapis.com/css2?family=Lateef&display=swap' %}" rel="stylesheet">
        <link href="{% static 'styles.css' %}" rel="stylesheet">
        <style>
           
        </style>
    </head>
    <body class="bgimage1">
    <main>
        <header class="header">
            <nav class="navbar">
                <div class="navbar__container">
                    <a href="{%url 'showbill'%}" id="navbar__logo">Electricity Bill Generator</a><img src="{% static 'Images/elec1.png' %}" style="height: 70px;">
                </div>
            </nav>
        </header>
                <div style="height: auto;">
                    <br><br>
                    <center>    
                    <b style="font-size: 40px;color: rgb(34, 33, 33);">Generate Bill</b>       
 
                    </center>         
                    <form method="POST">
                        {% csrf_token %}
                        <div class="UserContainer" style="margin-top:2em;margin-left: 390px; width: 500px;">
                            <label for="c_name" style="font-size: 21px;">Consumer Name</label>
                            <br>
                            <input type="text" placeholder="Enter Name" name="c_name" required>
                            <br><br>
                            <label for="c_id" style="font-size: 21px;">Consumer Id</label>
                            <br>
                            <input type="text" placeholder="Enter Id" name="c_id" required>
                            <br> <br>
                            <label for="c_img" style="font-size: 21px;">Consumer Image</label>
                            <br>
                            <input type="file" accept="image/*" name="c_img" style="font-size: 15px; color:rgb(116, 121, 121);height:30px;
                            width:200px;">
                            <br> <br>
                            <label for="c_email" style="font-size: 21px;">Consumer Email Address</label>
                            <br>
                            <input type="email" placeholder="Example@email.com" name="c_email" style="padding:15px 0px;font-size: 15px; color:rgb(116, 121, 121);height:30px;padding-left:5px;width:440px;" required>
                            <br>
                            <br>
                            <label for="c_date" style="font-size: 21px;">Date of Issue</label><br>
                            <input type="date" id="c_date" name="c_date" style="font-size: 15px; color:rgb(116, 121, 121);height:30px;padding-left:5px;width:200px;">
                            <br>
                            <br>
                            <label for="c_city" style="font-size: 21px;">City</label>
                            <br>
                            <select name="c_city" id="cars" style="width: max-content;font-size: 15px;color:rgb(116, 121, 121);height:30px;padding-left:5px;width:200px;">
                                <option value="none" selected disabled hidden>Select City</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Noida">Noida</option>
                                <option value="Faridabad">Faridabad</option>
                                <option value="Gurgoan">Gurgaon</option>
                            </select>
                            <br>
                            <br>
                            <label for="c_address" style="font-size: 21px;">Consumer Address</label>
                            <br>
                            <input  type="text" placeholder="Enter address" name="c_address" required>
                            <br>
                            <br>
                            <label for="utility" style="font-size: 21px;">Utility Type</label>
                            <br>
                            <br>
                            <input type="radio" id="Radius" name="utility" value="Radius">
                            <label for="Radius" style="margin-right: 4em;">Radius</label>
                            <input type="radio" id="Riken" name="utility" value="Riken">
                            <label for="Riken">Riken</label><br>
                            <br>
                            <label for="units" style="font-size: 21px;">Units Consumed</label>
                            <br>
                            <input type="text" placeholder="Enter units" name="units" required>
                            <br>
                            <br>
                            <label for="bill" style="font-size: 21px;">Total Amount Due</label>
                            <br>
                            <input type="text" placeholder="Enter Amount" name="bill" required>
                            <br>
                            <br>
                            
                            <label for="copy" style="font-size: 21px;margin-right:1em;">Send copy to consumer:</label>
                    
                            <input type="checkbox" id="Yes" name="copy" value="Yes">
                            <label for="Yes" style="margin-right: 2em;">Yes</label>
                            <input type="checkbox" id="No" name="copy" value="No">
                            <label for="No" style="margin-right: 4em;">No</label>
                            <br>
                            <br> <br>
                            <center>
                            <input type="submit" value="Submit" style="font-size: 20px; background-color: #b4cbe9; padding:5px 10px">
                            </center>
                            <br>
                            <br>
                            {% if messages%}
                            {% for mess in messages%}
                            {{mess}}
                            {% endfor %}
                            {% endif %}
                        </div>
                        <br><br>
                    </form>
                </div>
            <div>
            </div>
        </main>
        
        
    </body>
    
    
    <br><br>
</html>
